.find .find__header-list {
  display: flex;
  justify-content: space-around;
}

.find__header-list .header-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.find .header-btn__icon {
  margin: 10px;
  font-size: 22px;
}

.find .header-btn__title {
  font-size: 11px;
}

.find .find__recommended {
  margin-top: 23px;
  border-top: 1px solid #f7f7f7;
}

.find .find__title {
  font-size: 10.5px;
  opacity: 0.65;
  margin: 12px 0;
}
