.friends .friends__plus {
  padding: 12px 0;
  margin: 15px 0;
  border-top: 1.5px solid #f7f7f7;
  border-bottom: 1.5px solid #f7f7f7;
}

.friends__plus .friends__title,
.friends__list .friends__title {
  font-size: 10px;
  opacity: 0.6;
  margin-bottom: 11px;
}

.friends .friend__now-listening {
  padding: 5px 10px;
  border: 2px solid #1dba4c;
  border-radius: 10px;
  font-size: 11px;
}

.friend__now-listening span {
  opacity: 0.6;
}

.friend__now-listening i {
  font-size: 8px;
  margin-left: 2px;
  color: #1dba4c;
}
