.header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header .header__title {
  font-weight: 700;
  font-size: 20px;
}

.header .header__icon {
  margin-left: 14px;
  cursor: pointer;
}

.header .header__column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  margin-right: 14px;
}
