.nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fcfcfc;
  border-top: 1px solid #f7f7f7;
  padding: 18px 0;
}

.nav .nav__list {
  display: flex;
  justify-content: space-around;
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-item {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  top: -5px;
  right: -3.5px;
  background-color: #e26141;
  color: #fff2e6;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 9px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
